.monitor {
  width: inherit;
  > canvas {
    //width: 100%;
    //height: calc(100vh - 38px);
  }

  > .configs {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    
    > button {
      display: block;
      width: 2rem;
      height: 2rem;
      margin-top: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #222;
      color: white;
      border-radius: 4px;
      font-size: 1.2rem;

      &.active {
        background-color: yellow;
        color: black;
      }
    }
  }
}