
.tabs {
  width: 100%;

  > .buttons {
    width: inherit;
    background-color: #111;
    display: flex;
    align-items: center;

    @mixin commonButtonStyle() {
      padding: .5rem;
      background-color: #222;
      color: white;

      &:hover {
        background-color: #2228;
      }
    }

    > .inner {
      width: auto;
      overflow: hidden;

      > div {
        @include commonButtonStyle();
        user-select: none;
        cursor: pointer;
        min-width: 4rem;
        font-size: .8rem;
        
        &.active {
          border-bottom: 1px solid yellow;
        }

        > button {
          padding-left: .5rem;
        }
      }

      > div, button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }

    > button {
      @include commonButtonStyle();
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: .25rem;
    }
  }

  > .screen > div {
    display: none;

    &.active {
      display: block;
    }
  }
}